/* ---------------------------------------------------------------------------------------------------------------------------- */
/* CSS for Home page */
/* ---------------------------------------------------------------------------------------------------------------------------- */
.heading {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    padding: 20px 60px;
}

.about ul {
    display: flex;
    gap: 20px;
}

.about li {
    list-style: none;
}

.about i {
    color: orangered;
}

.icons ul {
    display: flex;
    gap: 10px;
}

.icons li {
    list-style: none;
}

.icons i {
    font-size: 18px;
    border-radius: 50%;
    padding: 4px;
    padding-right: 20px;
    background-color: lightgray;
    color: white;
}

.small {
    display: none;
}

.villa {
    height: 60px;
    padding: 0px 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

.schedule i {
    color: white;
    background-color: orangered;
    border-radius: 50%;
    font-size: 20px;
    padding: 4px;
    padding-right: 25px
}

.schedule {
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px;
    width: 162px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    position: absolute;
    bottom: 10%;
    left: 15%;
}

.content p {
    background-color: white;
    font-size: 16px;
    width: 120px;
    padding: 3px;
}

.content h5 {
    color: white;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.toronto {
    color: black;
}

.canada {
    color: orangered;
}

.container {
    height: 400px;
    display: flex;
    gap: 40px;
}

.container img {
    width: 300px;
}

.feature span {
    color: red;
    font-weight: bold;
}

.feature .accordion-button:hover {
    color: orangered;
}

.links {
    width: 500px;
}

.details {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 5px grey;
    padding: 20px;
    border-radius: 5px;
}

.info p {
    color: grey;
    font-size: 13px;
}

.space {
    display: flex;
    gap: 10px;
    border-bottom: 2px solid whitesmoke;
}

.space img {
    width: 50px;
    height: 50px;
}

.featured-icon img {
    background-color: orangered;
    padding: 20px;
    border-radius: 50%;
    position: relative;
    left: 65px;
    bottom: 65px;
}

.video img {
    width: 100%;
    height: 400px;
}

.video-text {
    text-align: center;
    position: relative;
    bottom: 330px;
}

.video-text p {
    color: orangered;
}

.video-text h2 {
    color: white;
    font-weight: bold;
}

.offcanvas-body .navbar-nav {
    gap: 15px;
}

#video-frame {
    align-items: center;
    width: 800px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    top: 180px;
    left: 25%;
}

#play-icon {
    color: orangered;
    border-radius: 50%;
    background-color: white;

    padding: 8px;
    position: relative;
    bottom: 140px;
    left: 760px;
    font-size: 18px;
    padding-right: 30px;
    padding-left: 15px;
    box-shadow: 0 0 30px orangered;
}

.achieve {
    display: flex;
    justify-content: space-evenly;
}

.box {
    position: relative;
    width: 220px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #fde9e2;
    ;

}

.box span {
    padding: 15px;
    font-size: 35px;
    font-weight: bolder;
    color: orangered;
}

.box p {
    font-weight: bold;
    padding: 2px;
    align-items: center;
    margin: 0px 5px;
}

.circle {
    background-color: orangered;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 86%;
    bottom: 60%;
}

.best {
    background-color: whitesmoke;
}

.deal {
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find span {
    font-size: 25px;
}

.find h3 {
    font-size: 40px;
}

.apt {
    display: flex;
    gap: 20px;
}

.apt button {
    border: 0px;
    border-radius: 3px;
    background-color: black;
    color: white;
    padding: 10px 30px;
}

.data {

    padding: 0px 100px;
    display: flex;
    gap: 70px;
}

.flat {
    width: 600px;
    height: 350px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px grey;
}

.home {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.home p{
    color:grey;
}

.extra-info {
    padding: 20px;
    width: 700px;
}

.extra-info p {
    padding-bottom: 20px;
}

.extra-info h5 {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}
.properties{
    text-align: center;
}
.properties span{
    color:red;
}
.properties h3{
    font-size: 30px;
    font-weight: bold;
}
.card-container{
    padding: 0px 60px;
}
.cards{
    display: flex;
    gap: 30px;
}
.card{
width: 500px;
height: 600px;
padding: 15px;
background-color: whitesmoke;
}
.cost{
    display: flex;
    justify-content: space-between;
}
.rooms{
   margin:0px 0px;
}
.rooms ul{
    display: flex;
    gap:20px;
    list-style: none;
}
.area{
    margin:0px 0px;
}
.area ul{
     display: flex;
    gap:20px;
    list-style: none;
}
.visit{
    text-align: center;
    background-color: black;
    color:white;
    width:140px;
    padding:4px;
    border-radius: 25px;
   align-items: center;
}





/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Media query for mobile large */

@media (min-width:425px) and (max-width:767px) {
    .heading {
        height: 25px;
        padding: 0px;
        align-items: baseline;
    }

    .about ul {
        gap: 5px;
    }

    .about li {
        font-size: 7px;
    }

    .icons {
        padding-right: 40px;
    }

    .icons ul {
        gap: 5px;
    }

    .icons i {
        font-size: 10px;
        padding-right: 13px;
    }

    .small {
        display: block;
    }

    .small .navbar {
        padding-top: 0px;
        /* reduce top padding */
        padding-bottom: 0px;
        /* reduce bottom padding */
        height: 40px;
        /* force smaller height */
    }

    .small .navbar-brand {
        font-size: 14px;
        /* smaller brand text */
        padding: 0;
        /* remove extra spacing */
    }

    .small .navbar-toggler {
        padding: 1px 6px;
        /* shrink toggle button */
        font-size: 10px;
        /* shrink icon */
    }

    .villa {
        display: none;
    }

    .content {
        position: absolute;
        bottom: 60%;
        left: 15%;
    }

    .content p {
        background-color: white;
        font-size: 9px;
        width: 70px;
        padding: 2px;
    }

    .content h5 {
        font-size: 20px;
        font-weight: bold;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .container img {
        width: 350px;
    }

    .links {
        width: 350px;
    }

    .space img {
        width: 50px;
        height: 50px;
    }

    .featured-icon img {
        position: relative;
        left: 10px;
        top: 10px;
    }

    .video img {
        width: 100%;
        height: auto;
        margin-top: 1000px;
    }

    .video-text {
        font-size: 20px;
        text-align: center;
        position: relative;
        bottom: 130px;
        left: 0px;
    }

    .video-text p {
        font-size: 10px;
        margin-bottom: 0px;
    }

    .video-text h2 {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-top: 0px;
    }

    #video-frame {
        margin: 0px;
        width: 300px;
        height: 100px;
        position: absolute;
        left: 15%;
        top: 100px;
    }

    #play-icon {
        position: relative;
        bottom: 67px;
        left: 197px;
        font-size: 12px;
        padding-right: 16px;
        padding-left: 7px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .achieve {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .deal {
        padding: 0px 30px;
    }

    .find span {
        font-size: 13px;
    }

    .find h3 {
        font-size: 18px;
    }

    .apt {
        display: flex;
        gap: 5px;
    }

    .apt button {
        padding: 3px;
        font-size: 10px;
    }

    .data {
        display: flex;
        flex-direction: column;
        gap: 70px;
        align-items: center;
    }

    .flat {
        width: 300px;
    }

    .extra-info {
        width: 300px;
    }





}



/* -----------------------------------------------TABLET------------------------------------------------------------------------------------------------------------------ */
/* Media query for tablet*/
@media (min-width:768px) and (max-width:1023px) {
    .heading {
        height: 25px;
        padding: 0px;
        align-items: baseline;
    }

    .about ul {
        gap: 5px;
    }

    .about li {
        font-size: 7px;
    }

    .icons {
        padding-right: 40px;
    }

    .icons ul {
        gap: 5px;
    }

    .icons i {
        font-size: 10px;
        padding-right: 13px;
    }

    .small {
        display: block;
    }

    .small .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 40px;

    }

    .small .navbar-brand {
        font-size: 14px;
        padding: 0px;

    }

    .small .navbar-toggler {
        padding: 1px 6px;
        font-size: 10px;

    }

    .villa {
        display: none;
    }

    .content {
        position: absolute;
        bottom: 40%;
        left: 15%;
    }

    .content p {
        padding: 2px;
        background-color: white;
        font-size: 10px;
        width: 80px;
    }

    .content h5 {
        font-size: 40px;
        font-weight: bold;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .container img {
        width: 400px;
    }

    .links {
        width: 400px;
    }

    .details {
        width: 400px;
    }

    .space img {
        width: 50px;
        height: 50px;
    }

    .featured-icon img {
        position: relative;
        left: 145px;
        top: 85px;
    }

    .video img {
        width: 100%;
        height: auto;
        margin-top: 1000px;
    }

    .video-text {
        position: relative;
        bottom: 235px;
        right: 15px;
    }

    .video-text p {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .video-text h2 {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    #video-frame {
        margin: 0px;
        width: 500px;
        height: auto;
        position: absolute;
        left: 20%;
        top: 100px;
    }

    #play-icon {
        position: relative;
        bottom: 120px;
        left: 385px;
        font-size: 18px;
    }

    .deal {
        padding: 0px 30px;
    }

    .find span {
        font-size: 18px;
    }

    .find h3 {
        font-size: 35px;
    }

    .apt {
        display: flex;
        gap: 10px;
    }

    .apt button {
        padding: 5px;
        font-size: 18px;
    }

    .data {
        display: flex;
        flex-direction: column;
        gap: 70px;
        align-items: center;
    }

    .flat {
        width: 500px;
    }

    .extra-info {
        width: 500px;
    }

}


/* --------------------------------------LAPTOP--------------------------------------------------------------------------------------------------------- */
/* Media query for laptop */
@media (min-width:1024px) and (max-width:1439px) {
    .content {
        position: absolute;
        bottom: 40%;
        left: 15%;
    }

    .content p {
        padding: 3px;
    }

    .featured-icon img {
        position: relative;
        left: 3px;
        bottom: 65px;
    }

    .links {
        width: 400px;
    }

    #video-frame {
        margin: 0px;
        width: 700px;
        height: auto;
        position: absolute;
        left: 15%;
        top: 145px;
    }

    #play-icon {
        position: relative;
        bottom: 150px;
        left: 480px;
    }

    .deal {
        padding: 0px 40px
    }

    .find span {
        font-size: 20px;
    }

    .find h3 {
        font-size: 40px;
    }

    .apt button {
        font-size: 20px;
    }

    .data {
        padding: 0px 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .data img{
        width:600px;
        height:350px;
    }
    .flat {
        width: 300px;
        height: 350px;
        border-radius: 5px;
        padding: 20px;
    }


}