/* ---------------------------------------------------------------------------------------------------------------------------- */
/* CSS for Home page */
/* ---------------------------------------------------------------------------------------------------------------------------- */
.heading {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    padding: 20px 60px;
}

.about ul {
    display: flex;
    gap: 20px;
}

.about li {
    list-style: none;
}

.about i {
    color: orangered;
    font-size: 18px;
}

.icons ul {
    display: flex;
    gap: 10px;
}

.icons li {
    list-style: none;
}

.icons i {
    font-size: 18px;
    border-radius: 50%;
    padding: 4px;
    padding-right: 20px;
    background-color: lightgray;
    color: white;
}

.small {
    display: none;
}

.villa {
    height: 60px;
    padding: 0px 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

.schedule i {
    color: white;
    background-color: orangered;
    border-radius: 50%;
    font-size: 20px;
    padding: 4px;
    padding-right: 25px
}

.schedule {
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 5px;
    width: 162px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.offcanvas-body .navbar-nav {
    gap: 15px;
}

.content {
    position: absolute;
    bottom: 10%;
    left: 15%;
}

.content p {
    background-color: white;
    font-size: 16px;
    width: 120px;
    padding: 3px;
}

.content h5 {
    color: white;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.toronto {
    color: black;
}

.canada {
    color: orangered;
}

.container {
    height: 400px;
    display: flex;
    gap: 40px;
}

.container img {
    width: 300px;
}

.feature span {
    color: red;
    font-weight: bold;
}

.feature .accordion-button:hover {
    color: orangered;
}

.links {
    width: 500px;
}

.details {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 5px grey;
    padding: 20px;
    border-radius: 5px;
}

.info p {
    color: grey;
    font-size: 13px;
}

.space {
    display: flex;
    gap: 10px;
    border-bottom: 2px solid whitesmoke;
}

.space img {
    width: 50px;
    height: 50px;
}

.featured-icon img {
    background-color: orangered;
    padding: 20px;
    border-radius: 50%;
    position: relative;
    left: 65px;
    bottom: 65px;
}

.video img {
    width: 100%;
    height: 400px;
}

.video-text {
    text-align: center;
    position: relative;
    bottom: 330px;
}

.video-text p {
    color: orangered;
}

.video-text h2 {
    color: white;
    font-weight: bold;
}

#video-frame {
    align-items: center;
    width: 800px;
    height: 400px;
    border-radius: 5px;
    position: absolute;
    top: 140px;
    left: 25%;
}

#play-icon {
    color: orangered;
    border-radius: 50%;
    background-color: white;

    padding: 8px;
    position: relative;
    bottom: 140px;
    left: 760px;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 15px;
    box-shadow: 0 0 30px 10px orangered;
}

.achieve {
    display: flex;
    justify-content: space-evenly;
}

.box {
    position: relative;
    width: 220px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #fde9e2;
    ;

}

.box span {
    padding: 15px;
    font-size: 35px;
    font-weight: bolder;
    color: orangered;
}

.box p {
    font-weight: bold;
    padding: 2px;
    align-items: center;
    margin: 0px 5px;
}

.circle {
    background-color: orangered;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 86%;
    bottom: 60%;
}

.best {
    background-color: whitesmoke;
}

.deal {
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find span {
    font-size: 25px;
}

.find h3 {
    font-size: 40px;
}

.apt {
    display: flex;
    gap: 20px;
}

.apt button {
    border: 0px;
    border-radius: 3px;
    background-color: black;
    color: white;
    padding: 10px 30px;
}

.data {

    padding: 0px 100px;
    display: flex;
    gap: 70px;
}

.flat {
    width: 600px;
    height: 350px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px grey;
}

.home {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.home p {
    color: grey;
}

.extra-info {
    padding: 20px;
    width: 700px;
}

.extra-info p {
    padding-bottom: 20px;
}

.extra-info h5 {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.properties {
    text-align: center;
}

.properties span {
    color: red;
}

.properties h3 {
    font-size: 30px;
    font-weight: bold;
}

.card-container {
    padding: 0px 60px;
}

.cards {
    display: flex;
    gap: 30px;
}

.cards .card {
    background-color: whitesmoke !important;
}

.card {
    width: 500px;
    height: 570px !important;
    padding: 20px;
}

.card-body {
    border-bottom: 2px solid rgb(246, 237, 237);
    padding-bottom: 0px;
}

.cost {
    display: flex;
    justify-content: space-between;
}

.cost span {
    background-color: #fbd9cf;
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: 5px;
}

.cost p {
    font-weight: bold;
    color: orangered
}

.rooms ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
}

.area ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.visit {
    display: block;
    margin: 15px auto;
    text-align: center;
    background-color: black;
    color: white;
    width: 140px;
    padding: 4px;
    border-radius: 25px;
}

.agents {
    position: relative;
    padding-bottom: 700px; 
}

.agents iframe {
    position: absolute;
    top: 50%;
    left: 10%;
}

.agents form {
    height: 620px;
    width: 455px;
    position: absolute;
    left: 60%;
    top: 50%;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    font-size: 18px;
}

.agents form label {
    width: 100%;
    padding: 10px 20px;
}

.agents form input {
    width: 100%;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    background-color: whitesmoke;
}

form textarea {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: whitesmoke;
}

#send {
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 5px 15px;
}

.get-in {
    position: absolute;
    top: 20%;
    left: 41%;
    text-align: center;
}

.get-in span {
    color: orangered
}

.get-in h3 {
    font-weight: bold;
    font-size: 35px;
    color: white;
}

.connect {
    display: flex;
    gap: 20px;
    position: relative;
    left: 9%;
    top: 600px;
}
.phone,
.mail {
    display: flex;
    gap: 25px;
    width: 300px;
    height: 80px;
    padding:15px 25px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
}
.fa-solid,.fa-regular
{
    font-size: 40px;
    color: orangered;
}
.phone p,
.mail p {
    font-size:15px;
    color:grey;
    margin:0px;
}
footer{
    height:60px;
    background-color: black;
    color: white;
    align-content: center;
    text-align: center;
}

/* footer {
  position: relative;  
  clear: both;         
  text-align: center;
  padding: 15px;
  background: black;
  color: white;
} */






/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Media query for mobile large */

@media (min-width:425px) and (max-width:767px) {
    .heading {
        height: 25px;
        padding: 0px;
        align-items: baseline;
    }

    .about ul {
        gap: 5px;
    }
    .about i{
        font-size: 10px;
    }
    .about li {
        font-size: 7px;
    }

    .icons {
        padding-right: 40px;
    }

    .icons ul {
        gap: 5px;
    }

    .icons i {
        font-size: 10px;
        padding-right: 13px;
    }

    .small {
        display: block;
    }

    .small .navbar {
        padding-top: 0px;
        /* reduce top padding */
        padding-bottom: 0px;
        /* reduce bottom padding */
        height: 40px;
        /* force smaller height */
    }

    .small .navbar-brand {
        font-size: 14px;
        /* smaller brand text */
        padding: 0;
        /* remove extra spacing */
    }

    .small .navbar-toggler {
        padding: 1px 6px;
        /* shrink toggle button */
        font-size: 10px;
        /* shrink icon */
    }

    .villa {
        display: none;
    }

    .content {
        position: absolute;
        bottom: 60%;
        left: 15%;
    }

    .content p {
        background-color: white;
        font-size: 9px;
        width: 70px;
        padding: 2px;
    }

    .content h5 {
        font-size: 20px;
        font-weight: bold;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .container img {
        width: 350px;
    }

    .links {
        width: 350px;
    }

    .space img {
        width: 50px;
        height: 50px;
    }

    .featured-icon img {
        position: relative;
        left: 10px;
        top: 10px;
    }

    .video img {
        width: 100%;
        height: auto;
        margin-top: 1000px;
    }

    .video-text {
        font-size: 20px;
        text-align: center;
        position: relative;
        bottom: 130px;
        left: 0px;
    }

    .video-text p {
        font-size: 10px;
        margin-bottom: 0px;
    }

    .video-text h2 {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-top: 0px;
    }

    #video-frame {
        margin: 0px;
        width: 300px;
        height: 150px;
        position: absolute;
        left: 15%;
        top: 77px;
    }

    #play-icon {
        position: relative;
        bottom: 67px;
        left: 197px;
        font-size: 12px;
        padding-right: 16px;
        padding-left: 7px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .achieve {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .deal {
        padding: 0px 30px;
    }

    .find span {
        font-size: 13px;
    }

    .find h3 {
        font-size: 18px;
    }

    .apt {
        display: flex;
        gap: 5px;
    }

    .apt button {
        padding: 3px;
        font-size: 10px;
    }

    .data {
        display: flex;
        flex-direction: column;
        gap: 70px;
        align-items: center;
    }

    .flat {
        width: 300px;
    }
    .flat img{
        width: 400px;
    }

    .extra-info {
        width: 300px;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 360px;
        height: 510px !important;
        padding: 20px;
    }
    .agents{
        margin-bottom: 300px;
    }
    .agents iframe {
        position: absolute;
        top: 9%;
        left: 20%;
        width: 300px;
        height: 300px;
    }

    .agents img {
        width: 100%;
    }

    .agents form {
        height: 530px;
        width: 300px;
        position: absolute;
        left: 20%;
        top: 432px;
    }

    .agents form label {
        width: 100%;
    }

    .agents form input {
        width: 100%;
    }

    .agents textarea {
        width: 268px;
        height: 100px;
    }

    .get-in {
        position: absolute;
        top: 2%;
        left: 40%;
    }

    .get-in h3 {
        font-size: 15px;
    }

    .get-in span {
        color: orangered;
        font-size: 10px;
    }
    .connect {
        width:225px;
    display: flex;
     flex-direction: column;
    gap: 20px;
    position: relative;
    left: 30%;
    top: 860px;
}
.phone,
.mail {
    display: flex;
    gap: 25px;
    width: 220px;
    height: 80px;
    padding:15px 25px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
}
.fa-solid,.fa-regular
{
    font-size: 35px;
    color: orangered;
}
.phone p,
.mail p {
    font-size:12px;
    color:grey;
    margin:0px;
}
.mail h5,.phone h5{
    font-size:12px;
}

}



/* -----------------------------------------------TABLET------------------------------------------------------------------------------------------------------------------ */
/* Media query for tablet*/
@media (min-width:768px) and (max-width:1023px) {
    .heading {
        height: 25px;
        padding: 0px;
        align-items: baseline;
    }

    .about ul {
        gap: 5px;
    }

    .about li {
        font-size: 7px;
    }

    .icons {
        padding-right: 40px;
    }

    .icons ul {
        gap: 5px;
    }

    .icons i {
        font-size: 10px;
        padding-right: 13px;
    }

    .small {
        display: block;
    }

    .small .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 40px;

    }

    .small .navbar-brand {
        font-size: 14px;
        padding: 0px;

    }

    .small .navbar-toggler {
        padding: 1px 6px;
        font-size: 10px;

    }

    .villa {
        display: none;
    }

    .content {
        position: absolute;
        bottom: 40%;
        left: 15%;
    }

    .content p {
        padding: 2px;
        background-color: white;
        font-size: 10px;
        width: 80px;
    }

    .content h5 {
        font-size: 40px;
        font-weight: bold;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .container img {
        width: 400px;
    }

    .links {
        width: 400px;
    }

    .details {
        width: 400px;
    }

    .space img {
        width: 50px;
        height: 50px;
    }

    .featured-icon img {
        position: relative;
        left: 145px;
        top: 85px;
    }

    .video img {
        width: 100%;
        height: auto;
        margin-top: 1000px;
    }

    .video-text {
        position: relative;
        bottom: 235px;
        right: 15px;
    }

    .video-text p {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .video-text h2 {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    #video-frame {
        margin: 0px;
        width: 500px;
        height: auto;
        position: absolute;
        left: 20%;
        top: 100px;
    }

    #play-icon {
        position: relative;
        bottom: 120px;
        left: 385px;
        font-size: 18px;
    }

    .deal {
        padding: 0px 30px;
    }

    .find span {
        font-size: 18px;
    }

    .find h3 {
        font-size: 35px;
    }

    .apt {
        display: flex;
        gap: 10px;
    }

    .apt button {
        padding: 5px;
        font-size: 18px;
    }

    .data {
        display: flex;
        flex-direction: column;
        gap: 70px;
        align-items: center;
    }

    .flat {
        width: 500px;
    }

    .extra-info {
        width: 500px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 460px;
        height: 550px !important;
        padding: 20px;
    }
    .agents{
        padding-bottom: 300px;
    }
    .agents iframe {
        position: absolute;
        top: 16%;
        left: 6%;
        width: 310px;
        height: 310px;
    }

        .agents img {
        height: 300px;
        width: 100%;
    }

    .agents form {
        height: 530px;
        width: 300px;
        position: absolute;
        left: 54%;
        top: 185px;
    }

    .agents form label {
        width: 100%;
    }

    .agents form input {
        width: 100%;
    }

    .agents textarea {
        width: 268px;
        height: 100px;
    }

    .get-in {
        position: absolute;
        top: 6%;
        left: 37%;
    }

    .get-in h3 {
        font-size: 25px;
    }

    .get-in span {
        color: orangered;
        font-size: 10px;
    }
    .connect {
        width:400px;
    display: flex;
    gap: 20px;
    position: relative;
    left: 9%;
    top: 230px;
    flex-direction: column;
}

}


/* --------------------------------------LAPTOP--------------------------------------------------------------------------------------------------------- */
/* Media query for laptop */
@media (min-width:1024px) and (max-width:1439px) {
    .content {
        position: absolute;
        bottom: 40%;
        left: 15%;
    }

    .content p {
        padding: 3px;
    }

    .featured-icon img {
        position: relative;
        left: 3px;
        bottom: 65px;
    }

    .links {
        width: 400px;
    }

    #video-frame {
        margin: 0px;
        width: 700px;
        height: auto;
        position: absolute;
        left: 15%;
        top: 145px;
    }

    #play-icon {
        position: relative;
        bottom: 150px;
        left: 480px;
    }

    .deal {
        padding: 0px 40px
    }

    .find span {
        font-size: 20px;
    }

    .find h3 {
        font-size: 40px;
    }

    .apt button {
        font-size: 20px;
    }

    .data {
        padding: 0px 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .data img {
        width: 600px;
        height: 350px;
    }

    .flat {
        width: 300px;
        height: 350px;
        border-radius: 5px;
        padding: 20px;
    }

    .cards {
        align-items: center;
    }

    .card {
        width: 550px;
        height: 450px !important;
        padding: 10px;
    }

    .rooms ul,
    .area ul {
        font-size: 10px;
    }
    .agents{
        padding-bottom: 330px;
    }
    .agents iframe {
        position: absolute;
        top: 19%;
        left: 6%;
        width: 370px;
        height: 370px;
    }

    .agents img {
        width: 100%;
    }

    .agents form {
        height: 565px;
        width: 390px;
        position: absolute;
        left: 54%;
        top: 239px;
    }

    .agents form label {
        width: 100%;
    }

    .agents form input {
        width: 100%;
    }

    .agents textarea {
        width: 358px;
        height: 100px;
    }

    .get-in {
        position: absolute;
        top: 8%;
        left: 37%;
        text-align: center;
    }

    .get-in h3 {
        font-size: 30px;
    }
    .connect {
        width:400px;
    display: flex;
    gap: 20px;
    position: relative;
    left: 9%;
    top: 270px;
    flex-direction: column;
}

}